body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.List__Content {
  display: flex;
  justify-content: center;

}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color:#efecca;
  padding: 0;
  width: 75%;
  line-height: 1rem;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #888888;
}

li {
  list-style: none;
}

.name {
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom:0;
}

.pictures {
  margin-bottom: 1rem;
  border-radius:3px;
  box-shadow: 5px 5px 3px #888888;
}

.description {
  display: inline-block;
  /*outline: 2px solid red;*/
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.price {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 1rem;
}


.icon {
  border-bottom: 1rem;
  cursor: pointer;
}

.underline {
  border-bottom: 1px solid lightgrey;
  margin-top: 2rem;
}

@media (min-width:650px){
  .description {
    display: inline-block;
    /*outline: 2px solid red;*/
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .name {
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom:0;
    margin-left: 5rem;
    margin-right: 5rem;
    line-height: 1.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#efecca;
    padding: 0;
    line-height: 1rem;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888888;
  }


}
